<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    The Brewmaster
  </h1>
</div>
<button (click)="showAllBeers = !showAllBeers" type="button">Show All Beers / Show Less Beers</button>
<table class="brew-table">
  <thead>
    <tr>
      <th class="brew-header">Beer <br/> <input class="search-input" [(ngModel)]="searchText" placeholder="search beers..."></th>
      <th class="brew-header">Brewery <br/> <input class="search-input" [(ngModel)]="brewerySearch" placeholder="search breweries..."></th>
      <th class="brew-header">Style <br/> <input class="search-input" [(ngModel)]="styleSearch" placeholder="search styles..."></th>
      <th class="brew-header">ABV</th>
      <th class="brew-header">Description</th>
    </tr>
  </thead>
  <tbody *ngIf="!showAllBeers">
    <tr *ngFor="let beer of beers | slice:0:10 ">
      <td class="brew-content">{{beer.name }}</td>
      <td class="brew-content">{{beer.brewery_id | brewFilter}}</td>
      <td class="brew-content">{{beer.style_name }}</td>
      <td class="brew-content">{{beer.abv | number}}</td>
      <td class="brew-content-description">{{beer.descript}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="showAllBeers">
      <tr *ngFor="let beer of beers">
        <td class="brew-content">{{beer.name}}</td>
        <td class="brew-content">{{beer.brewery_id}}</td>
        <td class="brew-content">{{beer.style_name}}</td>
        <td class="brew-content">{{beer.abv | number}}</td>
        <td class="brew-content-description">{{beer.descript}}</td>
      </tr>
    </tbody>
</table>