<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    The Brewmaster
  </h1>
</div>
<table class="brew-table">
  <thead>
    <tr>
      <th class="brew-header">Beer</th>
      <th class="brew-header">Style</th>
      <th class="brew-header">ABV</th>
      <th class="brew-header">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="brew-content">test</td>
      <td class="brew-content">test</td>
      <td class="brew-content">2</td>
      <td class="brew-content-description">test</td>
    </tr>
    <tr>
      <td class="brew-content">test</td>
      <td class="brew-content">test</td>
      <td class="brew-content">2</td>
      <td class="brew-content-description">test</td>
    </tr>
    <tr>
      <td class="brew-content">test</td>
      <td class="brew-content">test</td>
      <td class="brew-content">2</td>
      <td class="brew-content-description">test</td>
    </tr>
  </tbody>
</table>